[submodule "src/ScalpPlot"]
    recurse = true
	path = lib/ScalpPlot
	url = https://github.com/JasonJKi/ScalpPlot.git

[submodule "src/CCA"]
    recurse = true
	path = src/CCA
	url = https://github.com/JasonJKi/CanonCorrRegularized.git

[submodule "src/VideoFeatures"]
    recurse = true
	path = src/VideoFeatures
	url = https://github.com/JasonJKi/VideoFeatures.git


